* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-image: url(../Imag/llibre.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    background-color: #ac5d14;
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}
.caja__trasera div h3 p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #d6a07e;
}

/*formularios*/
.contenedor__login{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    position: relative;
    top: -185px;
    left: 10px;
}

.contenedor__login form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #df4e2a;
}

.contenedor__login form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor__login form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #ac5d14;
    color: white;
    cursor: pointer;
    outline: none;
}

.formulario__admin{
    op
}


html {
    font-family: 'Segoe UI', 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #f9f2e7
}

a{
    text-decoration: none;
    color: #b88f0b;
}

.libros-form form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 30%;
    margin: 20px auto;
    text-align: center;
    background-color: #fffbeb;
    border: 1px solid #d6a07e;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.libros-form form input{
    font-family: 'Segoe UI', sans-serif;
    padding: 8px;
    border: 1px solid #d6a07e;
    border-radius: 4px;
    outline: none;
    transition: .3s;
}

.libros-form form input[type=text]:focus,
.libros-form form input[type=password]:focus,
.libros-form form input[type=email]focus{
    border-color: #b88f0b;
    box-shadow: 0 0 6 px #b88f0b;
}

.libros-form form input[type=submit]{
    border: none;
    padding: 12px 50px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    background-color: #b88f0b; 
    color: white; 
    
}

.libros-form form input[type=submit]:hover {
    background-color: #d6a07e;
    color: #fff;
}

.libros-table table{
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #fffbeb;
    border: 1px solid #ddd;
    padding: 8px;
}

table th{
    padding: 16px;
    text-align: center;
    font-size: .85em;
    color: #b88f0b
}

.libros-table--edit{
    background: #1eb132;
    padding: 6px 12px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
}
.libros-table--delete{
    background: #df4e2a;
    padding: 6px 12px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
}